.eyes-container {
    width: 100%;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
}

.eyes {
    margin-right: 5px;
}

.count {
    margin-left: 5px;
}